* {
    font-family: "SF Pro Display", "Symbols Nerd Font";
    font-size: 12px;
    min-height: 0;
    font-weight: 600;
    border-radius: 0px;
    transition-property: background-color;
    transition-duration: 0.5s;
}
@keyframes blink_red {
    to {
        background-color: rgb(242, 143, 173);
        color: rgb(26, 24, 38);
    }
}
.warning, .critical, .urgent {
    animation-name: blink_red;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
window#waybar {
    /**background-color: transparent;**/
    background-color: rgba(30, 30, 46, 0.5);
}
window > box {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background: none;
    /**background: rgba(30, 30, 46, 0.5);**/
    /** background: rgba(43, 48, 59, 0.3);**/
    /** background-color: rgb(30, 30, 46); **/
    /**   border-bottom: 3px solid rgba(100, 114, 125, 0.5);**/
}
#workspaces {
    padding-left: 0px;
    padding-right: 4px;
    background-color: rgb(48, 52, 70);
}
#workspaces button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
}
#workspaces button.active {
    background-color: rgb(181, 232, 224);
    color: rgb(26, 24, 38);
}
#workspaces button.urgent {
    color: rgb(26, 24, 38);
}
#workspaces button:hover {
    background-color: rgb(248, 189, 150);
    color: rgb(26, 24, 38);
}
tooltip {
    background: rgb(48, 45, 65);
}
tooltip label {
    color: rgb(217, 224, 238);
}
#custom-launcher {
    font-size: 12px;
    padding-left: 8px;
    padding-right: 6px;
    color: #7ebae4;
    background-color: rgb(48, 52, 70);
}
#mode, #clock, #memory, #temperature,#cpu, #custom-wall, #temperature, #backlight, #pulseaudio, #network, #battery, #custom-powermenu, #custom-cava-internal, #custom-uptime {
    padding-left: 10px;
    padding-right: 10px;
}
/* #mode { */
/* 	margin-left: 10px; */
/* 	background-color: rgb(248, 189, 150); */
/*     color: rgb(26, 24, 38); */
/* } */
#custom-uptime {
    color: rgb(242, 143, 173);
    background-color: rgb(48, 52, 70);
    border-left:20px;
    /*border-radius: 0 15px 15px 0;*/
}
#custom-borderleft, #custom-borderright, #custom-centerborderleft, #custom-centerborderright{
    background-color: transparent;
    color: rgb(48, 52, 70);
    font-family: "Fira Code Symbol";
    font-size: 25px;
}
#memory {
    color: rgb(181, 232, 224);
    background-color: rgb(48, 52, 70);
}
#cpu {
    color: rgb(245, 194, 231);
    background-color: rgb(48, 52, 70);
}
#clock {
    color: rgb(217, 224, 238);
    /**background-color: rgb(48, 52, 70);**/
    background-color: transparent;
    /*border-radius: 15px ;*/
}
/* #idle_inhibitor { */
/* color: rgb(221, 182, 242); */
/* } */
#custom-wall {
    color: rgb(221, 182, 242);
}
#temperature {
    color: rgb(150, 205, 251);
    background-color: rgb(48, 52, 70);
}
#backlight {
    color: rgb(248, 189, 150);
    background-color: rgb(48, 52, 70);
}
#pulseaudio {
    /*font-family: "Symbols Nerd Font";*/
    color: rgb(245, 224, 220);
    background-color: rgb(48, 52, 70);
    /*border-radius: 15px 0 0 15px; */
}
#network {
    color: #ABE9B3;
}
#network.disconnected {
    color: rgb(255, 255, 255);
}
#battery.charging, #battery.full, #battery.discharging {
    color: rgb(250, 227, 176);
    background-color: rgb(48, 52, 70);
}
#battery.critical:not(.charging) {
    color: rgb(242, 143, 173);
}
#custom-powermenu {
    /*font-family: "Symbols Nerd Font";*/
    color: rgb(242, 143, 173);
    background-color: rgb(48, 52, 70);
}
#tray {
    padding-right: 8px;
    padding-left: 10px;
    background-color: rgb(48, 52, 70);
}
#mpd.paused {
    color: #414868;
    font-style: italic;
}
#mpd.stopped {
    background: transparent;
}
#mpd {
    color: #c0caf5;
}
#custom-cava-internal{
    font-family: "Hack Nerd Font" ;
}
