#prefix=/home/nix/.npm-global
prefix=/home/nix/.npm

#after create this file then you can install npm packages like this:
# npm install -g emmet-ls
# npm install -g @fsouza/prettierd
# npm install -g @tailwindcss/language-server
# etc

# after install npm packages, make sure the location inside .npm/bin/
